header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

header > h1 {
  margin-bottom: 0;
}

header > p {
  margin-top: 0;
}

main {
  display: flex;
  flex-flow: row nowrap;
}

.cat-list {
  flex: 0 0 30%;
  padding: 10px;

  border: 1px solid black;
}

.cat-items {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

.cat-display {
  flex: 0 0 60%;
  padding: 10px;

  border: 1px solid black;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.cat-admin__editor {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}
.cat-admin__editor--hidden {
  visibility: hidden;
}
